.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}

.header {
  height: 7rem;
  background-color: #fff;
  font-size: 1.4rem;
  border-bottom: 1px solid var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);

  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  flex: 0 0 82%;
}

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-2);
  border-bottom: 1px solid var(--color-grey-light-2);
}

.description {
  background-color: #fff;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

.user-reviews {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}
